@media only screen and (min-width: 769px) and (max-width: 1024px){
	.courses{
		flex-basis: 31%;
	}
	.outer_courses{
		justify-content: center;
	}
}

@media only screen and (min-width: 427px) and (max-width: 768px){
	.heading{
		padding: 25px;
		font-size: 32px;
	}
	.courses{
		flex-basis: 48%;
	}
	.outer_courses{
		justify-content: center;
	}
}

@media only screen and (min-width: 377px) and (max-width: 426px){
	.heading{
		padding: 15px;
		font-size: 24px;
	}
	.courses{
		flex-basis: 98%;
		margin-bottom: 15px;
	}
	.outer_courses{
		justify-content: center;
	}
}

@media only screen and (min-width: 0px) and (max-width: 376px){
	.heading{
		padding: 10px ;
		font-size: 20px;
	}
	.courses{
/*		flex-basis: 98%;*/
		margin-bottom: 15px;
	}
	.outer_courses{
		justify-content: center;
		flex-direction: column;
	}
}